@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.transform300ms, #app .images .image-container .image-info, #app .images .image-container .copy-link, #app .copy-success, #app .preview.zoom-enter-active, #app .preview.zoom-leave-active, #app .preview .close:active,
#app .preview .download:active {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  will-change: transform;
}

.borderRadius4px, #app .images .image-container, #app .images .image-container .copy-link, #app .copy-success {
  border-radius: 4px;
}

#app {
  min-height: 100vh;
  position: relative;
  padding-top: 0.1px;
}

#app .images {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app .images .image-container {
  margin: 16px 8px;
  background-color: #000;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.6);
  -webkit-transition: width 0.2s, height 0.2s;
  transition: width 0.2s, height 0.2s;
}

@media (max-width: 800px) {
  #app .images .image-container {
    width: 300px;
    height: 168.75px;
  }
}

@media (min-width: 801px) {
  #app .images .image-container {
    width: 400px;
    height: 225px;
  }
}

#app .images .image-container:hover {
  -webkit-box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.6);
}

#app .images .image-container:hover img {
  /* https://wallhaven.cc/ */
  /* https://developer.mozilla.org/zh-CN/docs/Web/CSS/filter */
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

#app .images .image-container:hover .image-info,
#app .images .image-container:hover .copy-link {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#app .images .image-container img {
  width: 100%;
  display: block;
}

#app .images .image-container .image-info {
  width: 100%;
  padding: 10px 4px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  color: #fff;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app .images .image-container .image-info .size {
  margin-top: 4px;
}

#app .images .image-container .copy-link {
  padding: 4px 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  outline: none;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transform: translateY(calc(-100% - 8px));
          transform: translateY(calc(-100% - 8px));
  color: #fff;
}

#app .copy-success {
  padding: 8px 24px;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 8px;
  right: 8px;
  -webkit-transform: translateY(calc(-100% - 8px));
          transform: translateY(calc(-100% - 8px));
  color: #fff;
}

#app .copy-success.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#app .preview {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}

#app .preview.zoom-enter, #app .preview.zoom-leave-to {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#app .preview.hide {
  /* 解决刷新页面时 defer 脚本导致的 .preview 元素闪现的问题 */
  display: none;
}

#app .preview .close,
#app .preview .download {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  position: absolute;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
}

#app .preview .close:active,
#app .preview .download:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#app .preview .close {
  top: 24px;
}

#app .preview .download {
  bottom: 24px;
}
